alias srm='sudo rm -r '
alias docker-compose='docker compose'
alias k='kubectl'
alias kc='kubectx'
alias kn='kubens'
alias tx='tmuxinator'
alias txe='tmuxinator edit'
alias vim='nvim'
alias lg='lazygit'
alias python='python3'

alias nvk='NVIM_APPNAME=nvk nvim' # LazyVim
alias nvl='NVIM_APPNAME=nvl nvim' # LazyVim
